---
layout: archive
author_profile: true
---

<link rel="stylesheet" href="{{ '/assets/stylesheets/talks.css' }}"/>

<h1 class="archive__title">{{ site.data.ui-text[site.locale].recent_slides | default: "My talks" }}</h1>
<div class="archive__subtitle">
    A collection of my talks at various conferences. So far, it's just EuRuKo
</div>

{% for talk in site.talks %}
    <div class="talks {{ include.type | default: "list" }}__item">
        <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <div class="talks-heading">
            <h2 class="archive__item-title" itemprop="headline">
                <a href="{{ talk.url | relative_url }}" rel="permalink">{{ talk.title }}</a>
            </h2>
            {% if talk.slides %}
                <span class="talks-link">
                    <a href="{{ talk.slides | relative_url }}" rel="permalink">
                        Slide Deck
                    </a>
                </span>
            {% endif %}
            {% if talk.youtube %}
                <span class="talks-link">
                    <a href="{{ talk.youtube }}" rel="permalink">
                        YouTube
                    </a>
                </span>
            {% endif %}
        </div>

        {% if talk.excerpt %}
            <p class="archive__item-excerpt" itemprop="description">
                {{ talk.excerpt | markdownify }}
            </p>
        {% endif %}
        </article>
    </div>
{% endfor %}

{% include paginator.html %}

